

/*add-books*/

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* body font family Arial set kora hoyeche */

.container {   
  padding:20px 150px;
}
/* container padding set kora hoyeche */

.title {
    justify-content: space-between;
    align-items:center;
    color: rgba(113,99,186,255);
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius:  20px;
    padding:5px 1rem;
    margin-bottom: 1 rem;
}
/* title er layout o styling set kora hoyeche */

.form-group {
    margin-bottom: 10px;
}
/* form group er margin bottom set kora hoyeche */

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #424141;
}
/* form label ke block display o color set kora hoyeche */

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
}
/* form input er width, padding o border styling set kora hoyeche */

.form-button {
    background-color: rgba(113,99,186,255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* form button er color, padding o border-radius set kora hoyeche */
